.NavbarDiv {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 10px;

}
body{
    overflow-x: hidden;
}
.LogoDiv img {
    width: 115px;
    margin-right: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.firstHalf {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navcontent span {
    display: flex;
    padding: 10px;
    font-weight: 500;
    padding-bottom: 16px;
    color: #00000a;
    /* border: 1px solid; */
    /* justify-content: space-around; */
    font-size: 16px;
}

.secondHalf {
    display: flex;
    padding: 10px;
    font-weight: 500;
    padding-bottom: 16px;
    color: #00000a;
    font-size: 16px;
}

.secondHalf div {
    margin-left: 25px;
}

.dropdown button {
    background-color: #ff7846;
    border: 0px;
    padding: 9px 15px;
    color: #ffffff;
    border-radius: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}