
.p-head {
    display: flex;
    background: url(https://webstatic.chargebee.com/assets/web/536/images/partners/bg-circle1.svg) no-repeat;
    background: linear-gradient( 100.96deg, #4300A3 33.34%, #6100BB 71.36% );
    color: white;
    padding: 1rem;
    justify-content: space-evenly;
    font-family: var(--ff_primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.p-box {
    width: 100%;
    color: white;
    background: linear-gradient( 100.96deg, #4300A3 33.34%, #6100BB 71.36%, #A700F1 104.8% );
    /* border: 1px solid red; */
}

.p-left {
    flex: 1;
    margin-top: 10rem;
    text-align: left;
    padding: 0rem 10rem
}

.p-left >button {
    border-radius: 10px;
    border: none;
    padding: 0px 5px;
    background-color: #6100BB;
    color: white;
    
}

.p-left :nth-child(2) {
    font-size: 30px;
    font-weight: bolder;
}

.p-right {
    flex: 1;
    padding: 3rem 5rem;
}

.p-right > div {
    padding: 1rem;
    border: 1px solid;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;

}
.p-btn {
    background: linear-gradient( 100.96deg, #4300A3 33.34%, #6100BB 71.36%, #A700F1 104.8% );
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    
}

.p-cont1 {
    width: 40%;
    height:500px;
    margin: auto;
    padding: 2rem;
    justify-items: center;
    box-sizing: content-box;
    /* text-align: justify; */
    margin-top: 2rem;
    
    

}
.p-allbtn {
    border-radius: 10px;
    border: none;
    padding: 0px 5px;
    background-color: #c9a9e8;
    color: #6100BB;
    
}

.p-grid {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    justify-content: space-between;
    width: 70%;
    margin: auto;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    padding-bottom: -15px;
    /* border: 1px solid; */
}

.kritiDiv_2{
    display: flex;
    width: 100%;

    justify-content: flex-end;  
    align-items: flex-end;
    /* padding: 10px; */
    /* border: 1px solid; */
}
.kritiDiv_1{
    margin-top: 25px;
}
.kritiDiv_1>img{
    width: 50%;
    margin: auto;
}
.kritiDiv_2 img{
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 20px;
    background-color: #4300A3;
}
.p-grid:hover {
    transform: scale(1.1);
}

.p-title {
    width: auto;
    margin: auto;
    align-items: center;
    margin-top: 5rem;
    /* display: flex; */
}

.p-title > span {
    font-size: large;
    font-weight: bold;
    color: #6100BB;
}

