.c-head {
    width: 100%;
    height: 500px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    background-color: #F0F0F5;
}

.head{
    text-align: left;
    margin: 50px 20px;
    /* border: 1px solid ; */
    
}

.signup{
    width: 30%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    row-gap: 20px;
    margin-top: -20px;
}

.signup> :nth-child(1) {
    width: 200px;
    padding: 20px 0px;
    color: red;
    font-weight: bold;
    border: 1px solid red;
    
}

.signup> :nth-child(1):hover {
    background-color: #FF7846;
    border: none;
    color: white;
}
.signup> :nth-child(2) {
    width: 200px;
    padding: 20px 0px;
    color: blue;
    font-weight: bold;
    
}

.c-headBox {
    width: 80%;
    height: auto;
    padding: 5rem;
    display: flex;
    gap: 2rem;
    margin: auto;
    /* border: 1px solid; */
}

.leftBox {
    flex: 1;
    text-align: left;
    /* border: 1px solid red; */
}

.leftBox > div {
    display: flex;
    gap: 1rem;
}
.leftBox > div > img {
    width: 30px;
    border-radius: 50%;
}
.imgp {
    margin-top: -400px;
}
.imgb2 {
    width: 600px;
    display: flex;
    flex-direction: row;

}

.rightBox {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 2rem;
    background-color: #3E30A5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .rightBox > p {
    text-align: center;
} */
.rightBox > span {
    color: red;
    text-align: right;

}

.c-row {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    
}

.c-row img {
    width: 100px;
}

.c-youtube {
    width: 50%;
    padding: 100px 0px;
    margin: auto;
    /* border: 1px solid; */
}
.bgcolor {
    width: 100%;
    padding: 5rem;
    background-color: #F0F0F5;
}
.c-data {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 30px;
    max-width: 1000px;
    margin: auto;
    /* background-color: #F0F0F5; */
}
.details {
    width: 500px;
    height: 250px;
    display: block;
    padding: 20px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
}
.details >div {
    margin-top: 30px;
}

.details:nth-child(2) > a{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}


@media screen and (max-width: 768px) {
    .c-head {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    .signup {
        display: flex;
        flex-direction: column;
    }
    .c-headBox {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;

    }
    .c-row {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: auto;
    }
    .c-row > img {
        width: 30%;
    }
    .imgp {
        width: 90%;
        margin-top:0px;
    }
    .imgp > img {
        width: 400px;
    }
    .rightBox {
        width: 315px;
    }
    .imgb2 {
        width: 400px;
    }
    .imgb2 > img {
        width: 200px;
    }
    .c-youtube {
        width: 100%;
    }
    .c-youtube > iframe {
        margin: auto;
        width: 400px;
    }
    .bgcolor {
        width: 100%;
    }
    .c-data {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .details {
        width: 100%;
        height: max-content;
    }
}
